/*font-family: 'Jost', sans-serif;*/
body{
    margin: 0px;
}
.container{ 
    font-family: 'Jost', sans-serif;
}
.header{
    padding: 0;
    background-color: #141024;
    background-size: cover;
    height: 100vh;
    color: white;
}
.header_line{
    color: white;
    display: flex;
    padding: 30px   100px;
    justify-content: space-between;
}
.header_line_menu{
    display: flex;
    text-align: center;
    gap: 40px;
}
.header_line_title{
    display: flex;
    justify-content: left;
    font-weight: 700;
line-height: 160%;
}
.header_phone{
    display: flex;
    text-align: end;
}
.H_L_M_I{
    display: flex;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
line-height: 160%;
color: white;
}
.header_text{
    padding-left: 380px;
}
.header_title{
    color: #FFF;
    font-size: 70px;
    font-family: Jost;
    font-weight: 600;
    line-height: 160%;
    margin-top: 344px;
}
.header_subtitle{
    color: #FFF;
font-size: 20px;
font-family: Jost;
line-height: 160%;
margin-top: 20px;
margin-bottom: 74px;
}
.button{
    text-decoration: none;
    color: white;
    color: var(--unnamed, #FFF);
text-align: center;
font-size: 18px;
font-family: Jost;
line-height: 160%;
background-color: red;
padding: 25px   54px;
border-radius: 10px;
}
.header_images{
    position: relative;
    display: flex;
    
}
.header_image1{
    position: absolute;
    top: -566px;
    left: 1100px;
    z-index: 999;
    height: auto;
    width: auto;
    
}
.header_image2{
    position: absolute;
    top: -448px;
    left: 959px;
    z-index: 99;
    height: auto;
    width: auto;
  
}
.about_title{
    padding-top: 120px;
    color: #141024;
font-size: 30px;
font-family: Jost;
font-weight: 600;
line-height: 160%;
}
.about_title span{
    font-weight: 800;
    font-size: 40px;
}
.about{
    padding:0px  380px;
}
.about_cards{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.about_card_title{
    color: #D52027;
    font-size: 70px;
    font-family: Jost;
    font-weight: 600;
    line-height: 160%;
}
.about_card_text{
    color: rgba(20, 16, 36, 0.70);
font-size: 18px;
font-family: Jost;
line-height: 160%;
width: 260px;
}
.benefits{
    padding: 0  380px;
    background-color: #F9F9F9;
}
.benefits_title{
    padding-top: 100px;
    color: #141024;
    font-size: 50px;
    font-family: Jost;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 60px;
}
.benefits_cards{
    display: flex;
    gap: 40px;
}
.benefits_card{

}
.benefits_card_title{
    color: #141024;
    font-size: 24px;
    font-family: Jost;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 20px;
}
.benefits_card_text{
    color: rgba(20, 16, 36, 0.70);
    font-size: 18px;
    font-family: Jost;
    line-height: 160%;
}
.trainers{
    padding: 0  380px;
}
.trainers_title{
    color: #141024;
font-size: 50px;
font-family: Jost;
font-weight: 600;
line-height: 160%;
padding-top: 120px;
padding-bottom: 60px;
}
.trainer_name{
    padding-top: 20px;
    color: #141024;
font-size: 24px;
font-family: Jost;
font-weight: 600;
line-height: 160%;
padding-bottom: 10px;  
}
.trainer_text{
    color: rgba(20, 16, 36, 0.70);
font-size: 18px;
font-family: Jost;
line-height: 160%;
padding-bottom: 20px; 
}
.trainer_more{
    color: #D52027;
font-size: 18px;
font-family: Jost;
line-height: 160%;
cursor: pointer;
}
.trainer_more:hover{
    color: black;
    text-decoration: underline;
}
.trainers_cards{
    display: flex;
    gap: 40px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.price_card{
    text-align: center;
    width: 360px;
height: 460px;
border-radius: 20px;
border: 1px solid rgba(20, 16, 36, 0.20);
transition: 0.5s linear;
}
.price_card:hover{
    width: 360px;
height: 500px;
border-radius: 20px;
background: #141024;
margin-top: -20px;
margin-bottom: -20px;
}
.price_card:hover .price_card_title{
   color: #FFFFFF ;
}
.price_card:hover .price_card_price{
    color: #FFFFFF ;
 }
 .price_card:hover .price_card_YMK{
    color: #FFFFFF ;
 }
.price{
    padding: 0  380px;
}
.price_title{
    color: #141024;
font-size: 50px;
font-family: Jost;
font-weight: 600;
line-height: 160%;
padding-top: 138px;
}
.price_card_title{
    color: #141024;
text-align: center;
font-size: 30px;
font-family: Jost;
font-weight: 600;
line-height: 160%;
padding-top: 40px;
}
.price_card_price{
    padding-top: 62px;
    color: #141024;
    text-align: center;
    font-size: 50px;
    font-family: Jost;
    font-weight: 600;
    line-height: 160%;
}
.price_card_YMK{
    padding-top: 20px;
    padding-bottom: 63px;
    color: #141024;
text-align: center;
font-size: 18px;
font-family: Jost;
line-height: 160%;
height: 58px;
}
.price_button{
    color: #FFF;
text-align: center;
font-size: 18px;
font-family: Jost;
line-height: 160%;

padding: 25px 54px;
justify-content: center;
align-items: center;
border-radius: 5px;
background: #D52027;
}
.price_cards{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
/* .price_card:hover .form_kurs{
    margin-top: 80px;
} */
.form_kurs{
    margin-top: 100px;
    background-color: #D52027;
    padding: 0px 440px;
    background-image:url(foot_back.png);
    background-repeat:repeat-x;
    background-position:bottom;
    
}
.f_k_title{
    padding-top: 100px;
    padding-bottom: 20px;
    color: #FFF;
font-size: 36px;
font-family: Jost;
font-weight: 600;
line-height: 130%;
display: flex;
width: 476px;
flex-direction: column;
flex-shrink: 0;
}
.f_k_text{
    color: #FFF;
font-size: 20px;
font-family: Jost;
line-height: 130%;
}
.f_K_blok{
    display: flex;
}
.form_f_k{
    display: block;
    margin-top: 87px;
    margin-bottom: 80px;
}
.f_text{
    width: 500px;
flex-shrink: 0;
border-radius: 5px;
background: #F6F6F6;
color: rgba(40, 41, 68, 0.70);
font-size: 18px;
font-family: Jost;
padding: 20px 19px;
}
.f_phone{
    margin-top: 10px;
    width: 500px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F6F6F6;
    color: rgba(40, 41, 68, 0.70);
    font-size: 18px;
    font-family: Jost;
    padding: 20px 19px;
}
.f_email{
    margin-top: 10px;
    width: 500px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F6F6F6;
    color: rgba(40, 41, 68, 0.70);
    font-size: 18px;
    font-family: Jost;
    padding: 20px 19px;
}
.f_butn{
    margin-top: 10px;
    width: 542px;
    color: #FFF;
text-align: center;
font-size: 18px;
font-family: Jost;
border-radius: 5px;
background: #141024;
padding: 20px   183px;
}
.F_K_Text_block{
    padding-right: 64px;
}
.footer{
    background: #141024;
    padding: 0px 100px;
}
.footer_title{
    color: #FFF;
    font-size: 30px;
    font-family: Jost;
    font-weight: 700;
    line-height: 160%;
}
.footer_phone{
    color: #FFF;
    text-align: right;
    font-size: 30px;
    font-family: Jost;
    font-weight: 600;
    line-height: 160%;
}
.footer_text{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 16px;
    font-family: Jost;
    line-height: 160%;
}
.footer_all_text{
    padding-top: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.footer_text{
    display: flex;
    justify-content: left;
}
.trainers_cards{
    color: #0000ff;
}
/* .header_image_1{
    background-image: url(portrait-smiling-nostalgic-female-student-looking-upper-left-corner-holding-notebooks\ 1.png);
    z-index: 999;
    background-size: contain;
}
.header_image_2{
    background-image: url(Ellipse\ 29.png);
    z-index: 999;
} */
.slider{
    width: 104%;
    position: relative;
    overflow: hidden;
    
}
/* .slider-wrapper{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    position: relative;
    left: 0;
    transition: all ease 1s;
} */
.modal{
    /* width: 100vh; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* см. ниже */
    align-items: center;
    z-index: 99999;
    padding:30px 0;
   background-color: rgba(0, 0, 0, 0.6);
   
    visibility: hidden;
  
}
.modal_window{
    
    width: 940px;
height: 768px;
position: fixed;
top: 200px;
bottom: 0;
left: 28%;
right: auto;
background-color: white;
border-radius: 20px;
z-index: 9999999;
visibility: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
transition: transform 0.2s ease 0s, ease 0s;
transform: scale(1);



}
.modal_title{
    display: flex;
}

.modal_img{
    width: 160px;
height: 222px;
flex-shrink: 0;
padding: 40px; 
}
.modal_title_text{
    margin-top: 40px;
}
.m_t_name{
    color: #141024;
font-family: Jost;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}
.m_t_dolz{
    color: rgba(20, 16, 36, 0.70);
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-bottom: 10px;
}
.modal_line{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    color: #141024;
font-family: Jost;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.modal_text{
    padding: 0px 40px;
    display: flex;
width: 860px;
height: 300px;
flex-direction: column;
flex-shrink: 0;
color: #141024;
font-family: Jost;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
overflow: auto;
}
.m_t_text2_title{
    color: #141024;
font-family: Jost;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 160%;
padding: 30px   40px;
}
.close_modal{
    display: flex;
    padding-left: 345px;
    padding-top: 40px;
    cursor: pointer;
}
.close_modal:hover{
    text-decoration: underline;

}
.knopka_slider_p{
    transform: rotate(0deg);
    text-align: right;
}
.knopka_slider{
    text-align: right;
}
.knopki_strelki{
    display: flex;
    justify-content: flex-end;
}
.b_f_i{
    
    width: 100%;
    height: 100%;
object-fit: cover;
margin: 0;
padding: 0;

}
.backg_form_img{
    background-image:url(foot_back.png);
    background-position: left;
    background-size:cover;
    background-repeat: repeat-y;
}




@media(max-width:1762px){
.container{
    box-sizing: border-box;
}
.header_image1{
    position: absolute;
    top: -566px;
    left: 59%;
    height: auto;
    width: auto;
}
.header_image2{
    position: absolute;
    top: -448px;
    left: 50%;
    z-index: 99;
    height: auto;
    width: auto;
}
.header_text {
    padding-left: 15%;
}
}

@media(max-width:1641px){
    .header_image1{
        position: absolute;
        top: -318px;
        left: 56%;
        z-index: -99;
        max-height: 600px;
        width: auto;
        
    }
    .header_image2{
        position: absolute;
        top: -253px;
        left: 47%;
        z-index: -199;
        height: 600px;
        width: auto;
       
    }
    .header{
        margin: 0;
        padding: 0;
        background-color: #141024;
        background-size: cover;
        height: 1011px;
        color: white;
        position: relative;
        z-index: 199;
    }
}
@media(max-width:1641px){
}



/* mobile version*/
@media(max-width:320px){
}